.form-card
    margin: 40% 0 0 0 
    h5
        text-align: center
    .form-group
        padding: 20px
    input
        padding: 10px
    .form-btn
        margin-top: 10px
        .row
            padding: 10px
        button
            width: 100%

span
    font-size: 1.3rem
.spinner-border
    margin-right: 5px